.left-panel {
    background-color: rgba(38, 17, 26, 0.635); 
    backdrop-filter: blur(10px); 
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.5s; 
    z-index: 100500;
    border-right: 3px solid #c01350;
    padding: 20px;
}


.left-panel.hide-panel {
    transform: translateX(-250px);
}


.btn-hide-show {
    position: absolute;
    top: 20px;
    right: -55px; 
    width: 35px;
    height: 35px;
    background-color: rgb(72, 16, 40);
    border-radius: 8px;
    color: #ef0b79;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    font-size: 1.3em;
}





.btn-hide-div::after {
    content: '\2630'; 
}

.btn-hrest::after {
    content: '\2715'; 
}


.main-menu {
    margin-top: 60px;
    list-style-type: none;
    padding: 0;
}

.main-menu li {
    margin-bottom: 18px; 
    perspective: 1000px;
}


.main-menu li a {
    display: block;
    padding: 12px 15px;
    color: antiquewhite;
    font-family: "Rubik Glitch", system-ui; 
    font-size: 1.15rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    
}


.main-menu li a:hover {
    color: #fff; 
    padding-left: 20px; 
    text-shadow: 2px 0 5px #ef0b79, -2px 0 5px #75fa69;
    
}

.container {
    transition: all 0.5s ease;
}
