@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&family=Rubik+Glitch&display=swap');
@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');



body {
    background-color: rgb(38, 17, 26);
    margin: 0;
    user-select: none;



}

img,
video {
    width: 100%;
}


ul {
    font-family: "Rubik Glitch", system-ui;
}





a {
    text-decoration: none;
    color: rgb(186, 65, 126);
    pointer-events: auto;
    cursor: pointer;

}


.main {
    height: 350px;
    object-fit: cover;
    object-position: 60% 50%;

}

.main-1 {
    height: 350px;
    object-fit: cover;
    object-position: 10%;

}

h1 {
    font-family: 'VCR OSD Mono', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 75px;
    color: #ef0b79;

}

.my-logo {
    width: 30%;

}

span {
    color: #ef0b79;
    font-family: 'VCR OSD Mono', sans-serif;
}

p {
    font-family: "Didact Gothic", sans-serif;
    color: antiquewhite;
}

h2 {
    color: #d91b77;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    padding: 0;
    font-size: 1.8em;
    line-height: 1;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    letter-spacing: 0.125em;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


h3 {
    padding: 0;
    font-family: "Rubik Glitch", system-ui;
    color: #eee;
    font-size: 1.8em;
    line-height: 1;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    letter-spacing: 0.125em;
    animation-duration: 0.8s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes textflicker {
    0% {
        transform: translateY(10px) skewX(-3deg);
    }

    50% {
        transform: translateY(-10px) skewX(3deg);
    }

    100% {
        transform: translateY(10px) skewX(-3deg);
    }
}

* {
    box-sizing: border-box;
}

.img-hotline {
    align-items: center;
    
    transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
    
}
.img-hotline:hover {
    transform: scale(1.05); 
    
    filter: drop-shadow(0 0 7px #ef0b79);
}





.long-slider {
    position: relative;
    height: 300px;
    width: 100%;

}


.item-wrap {

    display: flex;
    height: 300px;
    transition: 0.7s ease-out;
    max-width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.slider-item {
    
    display: flex;
    justify-content: center;
}

.item-wrap img {
    height: 100%;
}




.myMarqueeSwiper .swiper-wrapper {
    transition-timing-function: linear !important;
    display: flex !important;
}


.myMarqueeSwiper .swiper-slide {
    width: auto !important;
    flex-shrink: 0 !important;
    display: flex;
    justify-content: center;
    
}


.myMarqueeSwiper .swiper-slide img {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover !important;
    display: block;
}



h4 {
    padding: 0;
    font-family: "Rubik Glitch", system-ui;
    color: #eee;
    font-size: 1.8em;
    line-height: 1;
    letter-spacing: 0.125em;
    animation-duration: 0.8s;
    animation-name: textflicker-1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-family: 'VCR OSD Mono', sans-serif;
}

@keyframes textflicker-1 {
    0% {
        transform: translate(0, 0) rotate(0deg);
        text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    }

    25% {
        transform: translate(3px, -5px) rotate(1deg);
        text-shadow: 0.1rem 0.02rem 0.08rem #ea36af, -0.08rem -0.02rem 0.08rem #75fa69;
    }

    50% {
        transform: translate(-3px, 0) rotate(-0.5deg);
        text-shadow: -0.05rem 0 0.06rem #ea36af, 0.1rem 0 0.06rem #75fa69;
    }

    75% {
        transform: translate(2px, 5px) rotate(-1deg);
        text-shadow: 0.04rem -0.03rem 0.05rem #ea36af, -0.125rem 0.03rem 0.05rem #75fa69;
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
        text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    }
}

.r-mask {
    width: 75%;
    animation-name: waveLeftToRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 40px;
    filter: drop-shadow(0 0 20px #8b5313);
}

@keyframes waveLeftToRight {
    0% {

        transform: translateX(-10px) rotate(-5deg);
    }

    100% {

        transform: translateX(30px) rotate(5deg);
    }
}

.overflow {
    overflow: hidden;
}




.synth {
    font-weight: 1000;
    color: #644947;
    font-family: "Didact Gothic", sans-serif;
}


b {
    color: #e7a071;
    font-weight: bolder;
}


#custom-cursor {
   
    pointer-events: none; 
    transition: transform 0.2s ease, ;
}


#custom-cursor.cursor-link-hover {
    transform: scale(1.2); 
   
    
}




.m-mask{
     width: 65%;
    animation-name: wave;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 50px;
   
}




@keyframes wave {
    0% {

        transform: translateX(-5px) rotate(-5deg);
    }

    100% {

        transform: translateX(25px) rotate(5deg);
    }
}


h5{
    font-style: italic;
}


.big{
    background-color: #400e0a81;
}
.big-2{
    background-color: #4e18318e;
    box-shadow: 0px 0px  50px 50px #4e18318e;
    
}
