img{
    width: 100%;
}

body{
    background-color: rgb(241, 209, 227);
    margin: 0 ;
}



.main-2{
    width: 80%;
    text-align: center;
    display: block;
    
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -100px;
  
}

.my-banner {
  
  background-image: url('fotos/1.jpg');
   height: 500px;
    background-size: cover;
    background-position: 50% 20%;
    min-height: 350px;
  padding: 60px 20px; 
 
  
 
}

h1{
    padding-top: 90px;
    text-align: center;
    font-size: 50px;
    font-family: "Rubik Bubbles", system-ui;
    color: #ff78f0;
    

}

.main-p{
    font-family: "Kablammo", system-ui;
    font-size: 40px;
    color:#0803fe;
    text-align: center;

}


.header-img{
    height: 400px;
    object-fit: cover;
    object-position: 50% 20%;
}


.card-1, .card-2, .card-3{
    padding-bottom: 30px;
    border-radius: 20px;
    width: 85%;
    display: block;    /* Робимо елемент блочним */
    margin-left: auto;  /* Авто-відступ зліва */
    margin-right: auto; /* Авто-відступ справа */
}

.main-3{
    padding-bottom: 30px;
    border-radius: 15px;
    
}

.h2-class{
    text-align: center;
    padding-bottom: 30px;
    font-family: "DotGothic16", sans-serif;
    letter-spacing: -2px;
    color: #e157ac;
    
}

p{
    font-family: "Didact Gothic", sans-serif;
    padding: 20px;
    font-size: 20px;
    color: #0803fe;
}


.card-4, .card-5, .card-6{
    padding-bottom: 30px;
    border-radius: 20px;
    width: 85%;
    display: block;    /* Робимо елемент блочним */
    margin-left: auto;  /* Авто-відступ зліва */
    margin-right: auto; /* Авто-відступ справа */
}


.p-cl{
    padding: 50px;
}

.gif{
    width: 200px;
    display: block;    /* Робимо елемент блочним */
    margin-left: auto;  /* Авто-відступ зліва */
    margin-right: auto; 
    padding: 30px;
}

.header{
    background-color: rgba(196, 74, 137, 0.326);
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 20px 20px  rgba(196, 74, 137, 0.326);
}

h3, h4, h5, h6{
    text-align: center;
     font-family: "Press Start 2P", system-ui;
     padding: 20px;
     color: #0803fe;
}


h3{
    padding-bottom: 80px;
    font-size: 40px;
}


.p-2{
     font-family: "DotGothic16", sans-serif;
    font-size: 10px;
    color: #e157ac;
    text-align: center;
    letter-spacing: -2px;
}


span{
    color: red;
}

h6{
    width: auto;
    
}


